# Frontend
frontend/node_modules/
frontend/.env

# Backend
backend/venv/
**/__pycache__/
*.pyc

# Environment files
.env
backend/.env
*.env

# OS / Editor
.vscode/
.DS_Store

client_secrets.json

backend/venv_old/
venv_old/

# Sensitive credentials
backend/google-ads.yaml
google-ads.yaml

node_modules/
backup_.dump
